body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
/*     top: -25%; */
    filter: drop-shadow(0 0 5px rgba(157, 96, 138, 1));
    image-rendering: pixelated;
    position: absolute;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
}

#container {
    position: absolute;
    /* width: 768px;
    height: 432px; */
    /* width: 206px;
    height: 206px; */
    width: 400px;
    height: 600px;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
